{# layout.html #}
{% extends "!layout.html" %}

{% set css_files = css_files + ['_static/css/custom.css'] %}

{%- block extrahead %}
{{ super() }}

{% endblock %}

{% block footer %}
{{ super() }}
<div class="footer">
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a><br />Authors: Studendts of LINGI2132 UCLouvain <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
</div>
{% endblock %}


